### Database works.
In this **notebook** we have a lot of good stuff:
* Connecting to a database
* Creating schema, table
* Renaming files
* Import raster data to this table
* Organize the table, addi

In [1]:
%load_ext sql
import os, getpass, time
import xuleta as xu

In [2]:
user = input("Username: ")
password = getpass.getpass('Enter your password: ')
database = input("Database: ")
connection_string = "postgresql://%s:%s@localhost/%s" %(user,password,database)
%sql $connection_string

Username: denis
Enter your password: ········
Database: drought

'Connected: denis@drought'

#### Renaming files using xuleta

In [ ]:
folder = "/media/denis/seagate/MODIS/R_MYD17A2H/h11v04/Gross_PP_8Days_500m_v6/GPP"
xu.renamedate(folder=folder,oldf="%Y_%j",newf="%Y-%m-%d",wts=14)

---

---
## Creating Schemas, tables
**Working on MODIS TILE h11v04 Variable GPP**

In [ ]:
%sql CREATE SCHEMA modis11v04;

In [ ]:
%%time
%%sql CREATE TABLE modis11v04.gpp(
        rid serial NOT NULL,
        rast raster,
        filename text,
        acquisition_range daterange,
        CONSTRAINT modis11v04_gpp_pkey
        PRIMARY KEY (rid));
        CREATE INDEX modis11v04_gpp_wkb_rast_idx
        ON modis11v04.gpp
        USING GIST (ST_ConvexHull(rast));
        COMMENT ON TABLE modis11v04.gpp
        IS 'Table that stores values of GPP - 8day for tile h11v04.';

### Importing images to the database
Make sure the schema.table matches the images I'm importing.

You can watch the verbose in the terminal to make sure that things are going ok.

In [ ]:
imfolder = "/media/denis/seagate/MODIS/R_MYD17A2H/h11v04/Gross_PP_8Days_500m_v6/GPP/"

t0 = time.time()
os.system("raster2pgsql -a -C -F -M -s 4326 -t 200x200 -N 32767 "+imfolder+
#change the schema.table
          "*.tif modis11v04.gpp | psql -p 5432 -d drought -U denis")

taime = time.time() - t0
xu.shemale(taime/60)

You can confirm that the raster was properly loaded with all its attributes by looking at the raster_columns view, which stores raster metadata (here, you only retrieve the table’s schema, name, SRID and NoData value, but it is a good practice to examine all information stored in this view)

In [ ]:
%%time
%%sql SELECT
    r_table_schema AS schema,
    r_table_name AS table,
    srid,
    nodata_values AS nodata
    FROM raster_columns
    WHERE r_table_name = 'modis11v04.gpp';

In [ ]:
#%lsmagic

In the case of more complex filenames with a variable number of characters, you could still retrieve the encoded date using the substring function, by extracting the relevant characters relative to some other characters found first using the position function. Let us now update the table by converting the filenames into the date ranges according to the convention used in file naming (note that there is an
additional constraint that selects 1 January when the start date ? 16 days exceeds the beginning of the year):
### atente para o 8 ou 16 dias

In [ ]:
%%time
%%sql    UPDATE modis11v04.gpp
    SET acquisition_range = daterange(
    (substring(filename FROM 1 FOR 4) || '-' ||
    substring(filename FROM 6 FOR 2) || '-' ||
    substring(filename FROM 9 FOR 2))::date,
    LEAST((substring(filename FROM 1 FOR 4) || '-' ||
    substring(filename FROM 6 FOR 2) || '-' ||
    substring(filename FROM 9 FOR 2))::date + 8,
    (substring(filename FROM 1 FOR 4)::integer + 1
    || '-' || '01' || '-' || '01')::date));

As for any type of column, if the table contains a large number of rows
(e.g. [10,000), querying based on the acquisition_range will be faster if you first index it (you can do it even if the table is not that big, as the PostgreSQL planner will determine whether the query will be faster by using the index or not):

In [ ]:
%%time
%%sql     CREATE INDEX gpp_acquisition_range_idx
    ON modis11v04.gpp (acquisition_range);

Now, each tile (and therefore each pixel) has a spatial and a temporal component and thus can be queried according to both criteria. For instance, these are the 10 first tiles corresponding to 1 March 2008, using the ‘@[’ operator (‘contains’). Note that this is a leap year so that the corresponding period ends on 5 March:

In [ ]:
%%time
%%sql     SELECT rid, filename, acquisition_range
    FROM modis11v04.gpp
    WHERE acquisition_range @> '2015-12-01'::date
    LIMIT 5;

** Retrieving time-series from a given point**

using this query, we can get the time-series for a point, e.g. -110.868,45.050. It's super fast!

In [4]:
%%time
%%sql SELECT 
        rid, 
        acquisition_range,
        ST_Value(rast, ST_SetSRID(ST_MakePoint(-92.891,42.436), 4326)) AS gpp
    FROM modis11v04.gpp
         WHERE ST_Intersects(ST_SetSRID(ST_MakePoint(-92.891,42.436), 4326), rast)
           AND acquisition_range && '[2002-01-01,2016-12-31]'::daterange
    ORDER BY acquisition_range;

660 rows affected.
CPU times: user 12 ms, sys: 0 ns, total: 12 ms
Wall time: 675 ms

[(290, DateRange(datetime.date(2002, 7, 28), datetime.date(2002, 8, 5), '[)'), 517.0),
 (698, DateRange(datetime.date(2002, 8, 5), datetime.date(2002, 8, 13), '[)'), 434.0),
 (1106, DateRange(datetime.date(2002, 8, 13), datetime.date(2002, 8, 21), '[)'), 593.0),
 (1514, DateRange(datetime.date(2002, 8, 21), datetime.date(2002, 8, 29), '[)'), 542.0),
 (1922, DateRange(datetime.date(2002, 8, 29), datetime.date(2002, 9, 6), '[)'), 450.0),
 (2330, DateRange(datetime.date(2002, 9, 6), datetime.date(2002, 9, 14), '[)'), 365.0),
 (2738, DateRange(datetime.date(2002, 9, 14), datetime.date(2002, 9, 22), '[)'), 300.0),
 (3146, DateRange(datetime.date(2002, 9, 22), datetime.date(2002, 9, 30), '[)'), 259.0),
 (3554, DateRange(datetime.date(2002, 9, 30), datetime.date(2002, 10, 8), '[)'), 78.0),
 (3962, DateRange(datetime.date(2002, 10, 8), datetime.date(2002, 10, 16), '[)'), 108.0),
 (4370, DateRange(datetime.date(2002, 10, 16), datetime.date(2002, 10, 24), '[)'), 44.0),
 (4778, DateRange(datetime.date(2002, 10, 24), datetime.date(2002, 11, 1), '[)'), 9.0),
 (5186, DateRange(datetime.date(2002, 11, 1), datetime.date(2002, 11, 9), '[)'), 15.0),
 (5594, DateRange(datetime.date(2002, 11, 9), datetime.date(2002, 11, 17), '[)'), 20.0),
 (6002, DateRange(datetime.date(2002, 11, 17), datetime.date(2002, 11, 25), '[)'), 17.0),
 (6410, DateRange(datetime.date(2002, 11, 25), datetime.date(2002, 12, 3), '[)'), 4.0),
 (6818, DateRange(datetime.date(2002, 12, 3), datetime.date(2002, 12, 11), '[)'), 2.0),
 (7226, DateRange(datetime.date(2002, 12, 11), datetime.date(2002, 12, 19), '[)'), 7.0),
 (7634, DateRange(datetime.date(2002, 12, 19), datetime.date(2002, 12, 27), '[)'), 2.0),
 (8042, DateRange(datetime.date(2002, 12, 27), datetime.date(2003, 1, 1), '[)'), 7.0),
 (8450, DateRange(datetime.date(2003, 1, 1), datetime.date(2003, 1, 9), '[)'), 6.0),
 (8858, DateRange(datetime.date(2003, 1, 9), datetime.date(2003, 1, 17), '[)'), 2.0),
 (9266, DateRange(datetime.date(2003, 1, 17), datetime.date(2003, 1, 25), '[)'), 0.0),
 (9674, DateRange(datetime.date(2003, 1, 25), datetime.date(2003, 2, 2), '[)'), 2.0),
 (10082, DateRange(datetime.date(2003, 2, 2), datetime.date(2003, 2, 10), '[)'), 0.0),
 (10490, DateRange(datetime.date(2003, 2, 10), datetime.date(2003, 2, 18), '[)'), 0.0),
 (10898, DateRange(datetime.date(2003, 2, 18), datetime.date(2003, 2, 26), '[)'), 4.0),
 (11306, DateRange(datetime.date(2003, 2, 26), datetime.date(2003, 3, 6), '[)'), 2.0),
 (11714, DateRange(datetime.date(2003, 3, 6), datetime.date(2003, 3, 14), '[)'), 11.0),
 (12122, DateRange(datetime.date(2003, 3, 14), datetime.date(2003, 3, 22), '[)'), 38.0),
 (12530, DateRange(datetime.date(2003, 3, 22), datetime.date(2003, 3, 30), '[)'), 28.0),
 (12938, DateRange(datetime.date(2003, 3, 30), datetime.date(2003, 4, 7), '[)'), 32.0),
 (13346, DateRange(datetime.date(2003, 4, 7), datetime.date(2003, 4, 15), '[)'), 41.0),
 (13754, DateRange(datetime.date(2003, 4, 15), datetime.date(2003, 4, 23), '[)'), 63.0),
 (14162, DateRange(datetime.date(2003, 4, 23), datetime.date(2003, 5, 1), '[)'), 130.0),
 (14570, DateRange(datetime.date(2003, 5, 1), datetime.date(2003, 5, 9), '[)'), 142.0),
 (14978, DateRange(datetime.date(2003, 5, 9), datetime.date(2003, 5, 17), '[)'), 179.0),
 (15386, DateRange(datetime.date(2003, 5, 17), datetime.date(2003, 5, 25), '[)'), 194.0),
 (15794, DateRange(datetime.date(2003, 5, 25), datetime.date(2003, 6, 2), '[)'), 238.0),
 (16202, DateRange(datetime.date(2003, 6, 2), datetime.date(2003, 6, 10), '[)'), 185.0),
 (16610, DateRange(datetime.date(2003, 6, 10), datetime.date(2003, 6, 18), '[)'), 334.0),
 (17018, DateRange(datetime.date(2003, 6, 18), datetime.date(2003, 6, 26), '[)'), 358.0),
 (17426, DateRange(datetime.date(2003, 6, 26), datetime.date(2003, 7, 4), '[)'), 513.0),
 (17834, DateRange(datetime.date(2003, 7, 4), datetime.date(2003, 7, 12), '[)'), 533.0),
 (18242, DateRange(datetime.date(2003, 7, 12), datetime.date(2003, 7, 20), '[)'), 605.0),
 (18650, DateRange(datetime.date(2003, 7, 20), datetime.date(2003, 7, 28), '[)'), 542.0),
 (19058, DateRange(datetime.date(2003, 7, 28), datetime.date(2003, 8, 5), '[)'), 465.0),
 (19466, DateRange(datetime.date(2003, 8, 5), datetime.date(2003, 8, 13), '[)'), 484.0),
 (19874, DateRange(datetime.date(2003, 8, 13), datetime.date(2003, 8, 21), '[)'), 380.0),
 (20282, DateRange(datetime.date(2003, 8, 21), datetime.date(2003, 8, 29), '[)'), 263.0),
 (20690, DateRange(datetime.date(2003, 8, 29), datetime.date(2003, 9, 6), '[)'), 393.0),
 (21098, DateRange(datetime.date(2003, 9, 6), datetime.date(2003, 9, 14), '[)'), 281.0),
 (21506, DateRange(datetime.date(2003, 9, 14), datetime.date(2003, 9, 22), '[)'), 250.0),
 (21914, DateRange(datetime.date(2003, 9, 22), datetime.date(2003, 9, 30), '[)'), 195.0),
 (22322, DateRange(datetime.date(2003, 9, 30), datetime.date(2003, 10, 8), '[)'), 110.0),
 (22730, DateRange(datetime.date(2003, 10, 8), datetime.date(2003, 10, 16), '[)'), 116.0),
 (23138, DateRange(datetime.date(2003, 10, 16), datetime.date(2003, 10, 24), '[)'), 96.0),
 (23546, DateRange(datetime.date(2003, 10, 24), datetime.date(2003, 11, 1), '[)'), 32.0),
 (23954, DateRange(datetime.date(2003, 11, 1), datetime.date(2003, 11, 9), '[)'), 12.0),
 (24362, DateRange(datetime.date(2003, 11, 9), datetime.date(2003, 11, 17), '[)'), 11.0),
 (24770, DateRange(datetime.date(2003, 11, 17), datetime.date(2003, 11, 25), '[)'), 21.0),
 (25178, DateRange(datetime.date(2003, 11, 25), datetime.date(2003, 12, 3), '[)'), 6.0),
 (25586, DateRange(datetime.date(2003, 12, 3), datetime.date(2003, 12, 11), '[)'), 0.0),
 (25994, DateRange(datetime.date(2003, 12, 11), datetime.date(2003, 12, 19), '[)'), 0.0),
 (26402, DateRange(datetime.date(2003, 12, 19), datetime.date(2003, 12, 27), '[)'), 3.0),
 (26810, DateRange(datetime.date(2003, 12, 27), datetime.date(2004, 1, 1), '[)'), 2.0),
 (27218, DateRange(datetime.date(2004, 1, 1), datetime.date(2004, 1, 9), '[)'), 0.0),
 (27626, DateRange(datetime.date(2004, 1, 9), datetime.date(2004, 1, 17), '[)'), 5.0),
 (28034, DateRange(datetime.date(2004, 1, 17), datetime.date(2004, 1, 25), '[)'), 1.0),
 (28442, DateRange(datetime.date(2004, 1, 25), datetime.date(2004, 2, 2), '[)'), 0.0),
 (28850, DateRange(datetime.date(2004, 2, 2), datetime.date(2004, 2, 10), '[)'), 0.0),
 (29258, DateRange(datetime.date(2004, 2, 10), datetime.date(2004, 2, 18), '[)'), 0.0),
 (29666, DateRange(datetime.date(2004, 2, 18), datetime.date(2004, 2, 26), '[)'), 0.0),
 (30074, DateRange(datetime.date(2004, 2, 26), datetime.date(2004, 3, 5), '[)'), 10.0),
 (30482, DateRange(datetime.date(2004, 3, 5), datetime.date(2004, 3, 13), '[)'), 12.0),
 (30890, DateRange(datetime.date(2004, 3, 13), datetime.date(2004, 3, 21), '[)'), 30.0),
 (31298, DateRange(datetime.date(2004, 3, 21), datetime.date(2004, 3, 29), '[)'), 42.0),
 (31706, DateRange(datetime.date(2004, 3, 29), datetime.date(2004, 4, 6), '[)'), 54.0),
 (32114, DateRange(datetime.date(2004, 4, 6), datetime.date(2004, 4, 14), '[)'), 75.0),
 (32522, DateRange(datetime.date(2004, 4, 14), datetime.date(2004, 4, 22), '[)'), 103.0),
 (32930, DateRange(datetime.date(2004, 4, 22), datetime.date(2004, 4, 30), '[)'), 107.0),
 (33338, DateRange(datetime.date(2004, 4, 30), datetime.date(2004, 5, 8), '[)'), 146.0),
 (33746, DateRange(datetime.date(2004, 5, 8), datetime.date(2004, 5, 16), '[)'), 156.0),
 (34154, DateRange(datetime.date(2004, 5, 16), datetime.date(2004, 5, 24), '[)'), 188.0),
 (34562, DateRange(datetime.date(2004, 5, 24), datetime.date(2004, 6, 1), '[)'), 270.0),
 (34970, DateRange(datetime.date(2004, 6, 1), datetime.date(2004, 6, 9), '[)'), 251.0),
 (35378, DateRange(datetime.date(2004, 6, 9), datetime.date(2004, 6, 17), '[)'), 297.0),
 (35786, DateRange(datetime.date(2004, 6, 17), datetime.date(2004, 6, 25), '[)'), 389.0),
 (36194, DateRange(datetime.date(2004, 6, 25), datetime.date(2004, 7, 3), '[)'), 421.0),
 (36602, DateRange(datetime.date(2004, 7, 3), datetime.date(2004, 7, 11), '[)'), 425.0),
 (37010, DateRange(datetime.date(2004, 7, 11), datetime.date(2004, 7, 19), '[)'), 736.0),
 (37418, DateRange(datetime.date(2004, 7, 19), datetime.date(2004, 7, 27), '[)'), 554.0),
 (37826, DateRange(datetime.date(2004, 7, 27), datetime.date(2004, 8, 4), '[)'), 740.0),
 (38234, DateRange(datetime.date(2004, 8, 4), datetime.date(2004, 8, 12), '[)'), 391.0),
 (38642, DateRange(datetime.date(2004, 8, 12), datetime.date(2004, 8, 20), '[)'), 643.0),
 (39050, DateRange(datetime.date(2004, 8, 20), datetime.date(2004, 8, 28), '[)'), 585.0),
 (39458, DateRange(datetime.date(2004, 8, 28), datetime.date(2004, 9, 5), '[)'), 654.0),
 (39866, DateRange(datetime.date(2004, 9, 5), datetime.date(2004, 9, 13), '[)'), 554.0),
 (40274, DateRange(datetime.date(2004, 9, 13), datetime.date(2004, 9, 21), '[)'), 421.0),
 (40682, DateRange(datetime.date(2004, 9, 21), datetime.date(2004, 9, 29), '[)'), 278.0),
 (41090, DateRange(datetime.date(2004, 9, 29), datetime.date(2004, 10, 7), '[)'), 113.0),
 (41498, DateRange(datetime.date(2004, 10, 7), datetime.date(2004, 10, 15), '[)'), 101.0),
 (41906, DateRange(datetime.date(2004, 10, 15), datetime.date(2004, 10, 23), '[)'), 45.0),
 (42314, DateRange(datetime.date(2004, 10, 23), datetime.date(2004, 10, 31), '[)'), 79.0),
 (42722, DateRange(datetime.date(2004, 10, 31), datetime.date(2004, 11, 8), '[)'), 37.0),
 (43130, DateRange(datetime.date(2004, 11, 8), datetime.date(2004, 11, 16), '[)'), 32.0),
 (43538, DateRange(datetime.date(2004, 11, 16), datetime.date(2004, 11, 24), '[)'), 13.0),
 (43946, DateRange(datetime.date(2004, 11, 24), datetime.date(2004, 12, 2), '[)'), 10.0),
 (44354, DateRange(datetime.date(2004, 12, 2), datetime.date(2004, 12, 10), '[)'), 13.0),
 (44762, DateRange(datetime.date(2004, 12, 10), datetime.date(2004, 12, 18), '[)'), 6.0),
 (45170, DateRange(datetime.date(2004, 12, 18), datetime.date(2004, 12, 26), '[)'), 1.0),
 (45578, DateRange(datetime.date(2004, 12, 26), datetime.date(2005, 1, 1), '[)'), 1.0),
 (45986, DateRange(datetime.date(2005, 1, 1), datetime.date(2005, 1, 9), '[)'), 0.0),
 (46394, DateRange(datetime.date(2005, 1, 9), datetime.date(2005, 1, 17), '[)'), 0.0),
 (46802, DateRange(datetime.date(2005, 1, 17), datetime.date(2005, 1, 25), '[)'), 0.0),
 (47210, DateRange(datetime.date(2005, 1, 25), datetime.date(2005, 2, 2), '[)'), 0.0),
 (47618, DateRange(datetime.date(2005, 2, 2), datetime.date(2005, 2, 10), '[)'), 6.0),
 (48026, DateRange(datetime.date(2005, 2, 10), datetime.date(2005, 2, 18), '[)'), 5.0),
 (48434, DateRange(datetime.date(2005, 2, 18), datetime.date(2005, 2, 26), '[)'), 4.0),
 (48842, DateRange(datetime.date(2005, 2, 26), datetime.date(2005, 3, 6), '[)'), 6.0),
 (49250, DateRange(datetime.date(2005, 3, 6), datetime.date(2005, 3, 14), '[)'), 15.0),
 (49658, DateRange(datetime.date(2005, 3, 14), datetime.date(2005, 3, 22), '[)'), 8.0),
 (50066, DateRange(datetime.date(2005, 3, 22), datetime.date(2005, 3, 30), '[)'), 18.0),
 (50474, DateRange(datetime.date(2005, 3, 30), datetime.date(2005, 4, 7), '[)'), 70.0),
 (50882, DateRange(datetime.date(2005, 4, 7), datetime.date(2005, 4, 15), '[)'), 124.0),
 (51290, DateRange(datetime.date(2005, 4, 15), datetime.date(2005, 4, 23), '[)'), 118.0),
 (51698, DateRange(datetime.date(2005, 4, 23), datetime.date(2005, 5, 1), '[)'), 88.0),
 (52106, DateRange(datetime.date(2005, 5, 1), datetime.date(2005, 5, 9), '[)'), 129.0),
 (52514, DateRange(datetime.date(2005, 5, 9), datetime.date(2005, 5, 17), '[)'), 176.0),
 (52922, DateRange(datetime.date(2005, 5, 17), datetime.date(2005, 5, 25), '[)'), 252.0),
 (53330, DateRange(datetime.date(2005, 5, 25), datetime.date(2005, 6, 2), '[)'), 207.0),
 (53738, DateRange(datetime.date(2005, 6, 2), datetime.date(2005, 6, 10), '[)'), 203.0),
 (54146, DateRange(datetime.date(2005, 6, 10), datetime.date(2005, 6, 18), '[)'), 357.0),
 (54554, DateRange(datetime.date(2005, 6, 18), datetime.date(2005, 6, 26), '[)'), 394.0),
 (54962, DateRange(datetime.date(2005, 6, 26), datetime.date(2005, 7, 4), '[)'), 636.0),
 (55370, DateRange(datetime.date(2005, 7, 4), datetime.date(2005, 7, 12), '[)'), 707.0),
 (55778, DateRange(datetime.date(2005, 7, 12), datetime.date(2005, 7, 20), '[)'), 668.0),
 (56186, DateRange(datetime.date(2005, 7, 20), datetime.date(2005, 7, 28), '[)'), 532.0),
 (56594, DateRange(datetime.date(2005, 7, 28), datetime.date(2005, 8, 5), '[)'), 557.0),
 (57002, DateRange(datetime.date(2005, 8, 5), datetime.date(2005, 8, 13), '[)'), 542.0),
 (57410, DateRange(datetime.date(2005, 8, 13), datetime.date(2005, 8, 21), '[)'), 552.0),
 (57818, DateRange(datetime.date(2005, 8, 21), datetime.date(2005, 8, 29), '[)'), 466.0),
 (58226, DateRange(datetime.date(2005, 8, 29), datetime.date(2005, 9, 6), '[)'), 441.0),
 (58634, DateRange(datetime.date(2005, 9, 6), datetime.date(2005, 9, 14), '[)'), 281.0),
 (59042, DateRange(datetime.date(2005, 9, 14), datetime.date(2005, 9, 22), '[)'), 271.0),
 (59450, DateRange(datetime.date(2005, 9, 22), datetime.date(2005, 9, 30), '[)'), 126.0),
 (59858, DateRange(datetime.date(2005, 9, 30), datetime.date(2005, 10, 8), '[)'), 115.0),
 (60266, DateRange(datetime.date(2005, 10, 8), datetime.date(2005, 10, 16), '[)'), 110.0),
 (60674, DateRange(datetime.date(2005, 10, 16), datetime.date(2005, 10, 24), '[)'), 80.0),
 (61082, DateRange(datetime.date(2005, 10, 24), datetime.date(2005, 11, 1), '[)'), 53.0),
 (61490, DateRange(datetime.date(2005, 11, 1), datetime.date(2005, 11, 9), '[)'), 47.0),
 (61898, DateRange(datetime.date(2005, 11, 9), datetime.date(2005, 11, 17), '[)'), 27.0),
 (62306, DateRange(datetime.date(2005, 11, 17), datetime.date(2005, 11, 25), '[)'), 13.0),
 (62714, DateRange(datetime.date(2005, 11, 25), datetime.date(2005, 12, 3), '[)'), 3.0),
 (63122, DateRange(datetime.date(2005, 12, 3), datetime.date(2005, 12, 11), '[)'), 0.0),
 (63530, DateRange(datetime.date(2005, 12, 11), datetime.date(2005, 12, 19), '[)'), 0.0),
 (63938, DateRange(datetime.date(2005, 12, 19), datetime.date(2005, 12, 27), '[)'), 0.0),
 (64346, DateRange(datetime.date(2005, 12, 27), datetime.date(2006, 1, 1), '[)'), 0.0),
 (64754, DateRange(datetime.date(2006, 1, 1), datetime.date(2006, 1, 9), '[)'), 0.0),
 (65162, DateRange(datetime.date(2006, 1, 9), datetime.date(2006, 1, 17), '[)'), 6.0),
 (65570, DateRange(datetime.date(2006, 1, 17), datetime.date(2006, 1, 25), '[)'), 3.0),
 (65978, DateRange(datetime.date(2006, 1, 25), datetime.date(2006, 2, 2), '[)'), 9.0),
 (66386, DateRange(datetime.date(2006, 2, 2), datetime.date(2006, 2, 10), '[)'), 3.0),
 (66794, DateRange(datetime.date(2006, 2, 10), datetime.date(2006, 2, 18), '[)'), 2.0),
 (67202, DateRange(datetime.date(2006, 2, 18), datetime.date(2006, 2, 26), '[)'), 4.0),
 (67610, DateRange(datetime.date(2006, 2, 26), datetime.date(2006, 3, 6), '[)'), 10.0),
 (68018, DateRange(datetime.date(2006, 3, 6), datetime.date(2006, 3, 14), '[)'), 11.0),
 (68426, DateRange(datetime.date(2006, 3, 14), datetime.date(2006, 3, 22), '[)'), 7.0),
 (68834, DateRange(datetime.date(2006, 3, 22), datetime.date(2006, 3, 30), '[)'), 15.0),
 (69242, DateRange(datetime.date(2006, 3, 30), datetime.date(2006, 4, 7), '[)'), 36.0),
 (69650, DateRange(datetime.date(2006, 4, 7), datetime.date(2006, 4, 15), '[)'), 83.0),
 (70058, DateRange(datetime.date(2006, 4, 15), datetime.date(2006, 4, 23), '[)'), 87.0),
 (70466, DateRange(datetime.date(2006, 4, 23), datetime.date(2006, 5, 1), '[)'), 84.0),
 (70874, DateRange(datetime.date(2006, 5, 1), datetime.date(2006, 5, 9), '[)'), 124.0),
 (71282, DateRange(datetime.date(2006, 5, 9), datetime.date(2006, 5, 17), '[)'), 74.0),
 (71690, DateRange(datetime.date(2006, 5, 17), datetime.date(2006, 5, 25), '[)'), 153.0),
 (72098, DateRange(datetime.date(2006, 5, 25), datetime.date(2006, 6, 2), '[)'), 197.0),
 (72506, DateRange(datetime.date(2006, 6, 2), datetime.date(2006, 6, 10), '[)'), 199.0),
 (72914, DateRange(datetime.date(2006, 6, 10), datetime.date(2006, 6, 18), '[)'), 289.0),
 (73322, DateRange(datetime.date(2006, 6, 18), datetime.date(2006, 6, 26), '[)'), 299.0),
 (73730, DateRange(datetime.date(2006, 6, 26), datetime.date(2006, 7, 4), '[)'), 433.0),
 (74138, DateRange(datetime.date(2006, 7, 4), datetime.date(2006, 7, 12), '[)'), 426.0),
 (74546, DateRange(datetime.date(2006, 7, 12), datetime.date(2006, 7, 20), '[)'), 577.0),
 (74954, DateRange(datetime.date(2006, 7, 20), datetime.date(2006, 7, 28), '[)'), 519.0),
 (75362, DateRange(datetime.date(2006, 7, 28), datetime.date(2006, 8, 5), '[)'), 388.0),
 (75770, DateRange(datetime.date(2006, 8, 5), datetime.date(2006, 8, 13), '[)'), 470.0),
 (76178, DateRange(datetime.date(2006, 8, 13), datetime.date(2006, 8, 21), '[)'), 512.0),
 (76586, DateRange(datetime.date(2006, 8, 21), datetime.date(2006, 8, 29), '[)'), 454.0),
 (76994, DateRange(datetime.date(2006, 8, 29), datetime.date(2006, 9, 6), '[)'), 501.0),
 (77402, DateRange(datetime.date(2006, 9, 6), datetime.date(2006, 9, 14), '[)'), 338.0),
 (77810, DateRange(datetime.date(2006, 9, 14), datetime.date(2006, 9, 22), '[)'), 299.0),
 (78218, DateRange(datetime.date(2006, 9, 22), datetime.date(2006, 9, 30), '[)'), 217.0),
 (78626, DateRange(datetime.date(2006, 9, 30), datetime.date(2006, 10, 8), '[)'), 130.0),
 (79034, DateRange(datetime.date(2006, 10, 8), datetime.date(2006, 10, 16), '[)'), 67.0),
 (79442, DateRange(datetime.date(2006, 10, 16), datetime.date(2006, 10, 24), '[)'), 32.0),
 (79850, DateRange(datetime.date(2006, 10, 24), datetime.date(2006, 11, 1), '[)'), 37.0),
 (80258, DateRange(datetime.date(2006, 11, 1), datetime.date(2006, 11, 9), '[)'), 24.0),
 (80666, DateRange(datetime.date(2006, 11, 9), datetime.date(2006, 11, 17), '[)'), 11.0),
 (81074, DateRange(datetime.date(2006, 11, 17), datetime.date(2006, 11, 25), '[)'), 13.0),
 (81482, DateRange(datetime.date(2006, 11, 25), datetime.date(2006, 12, 3), '[)'), 6.0),
 (81890, DateRange(datetime.date(2006, 12, 3), datetime.date(2006, 12, 11), '[)'), 3.0),
 (82298, DateRange(datetime.date(2006, 12, 11), datetime.date(2006, 12, 19), '[)'), 8.0),
 (82706, DateRange(datetime.date(2006, 12, 19), datetime.date(2006, 12, 27), '[)'), 6.0),
 (83114, DateRange(datetime.date(2006, 12, 27), datetime.date(2007, 1, 1), '[)'), 3.0),
 (83522, DateRange(datetime.date(2007, 1, 1), datetime.date(2007, 1, 9), '[)'), 7.0),
 (83930, DateRange(datetime.date(2007, 1, 9), datetime.date(2007, 1, 17), '[)'), 1.0),
 (84338, DateRange(datetime.date(2007, 1, 17), datetime.date(2007, 1, 25), '[)'), 0.0),
 (84746, DateRange(datetime.date(2007, 1, 25), datetime.date(2007, 2, 2), '[)'), 0.0),
 (85154, DateRange(datetime.date(2007, 2, 2), datetime.date(2007, 2, 10), '[)'), 0.0),
 (85562, DateRange(datetime.date(2007, 2, 10), datetime.date(2007, 2, 18), '[)'), 0.0),
 (85970, DateRange(datetime.date(2007, 2, 18), datetime.date(2007, 2, 26), '[)'), 5.0),
 (86378, DateRange(datetime.date(2007, 2, 26), datetime.date(2007, 3, 6), '[)'), 0.0),
 (86786, DateRange(datetime.date(2007, 3, 6), datetime.date(2007, 3, 14), '[)'), 10.0),
 (87194, DateRange(datetime.date(2007, 3, 14), datetime.date(2007, 3, 22), '[)'), 31.0),
 (87602, DateRange(datetime.date(2007, 3, 22), datetime.date(2007, 3, 30), '[)'), 30.0),
 (88010, DateRange(datetime.date(2007, 3, 30), datetime.date(2007, 4, 7), '[)'), 28.0),
 (88418, DateRange(datetime.date(2007, 4, 7), datetime.date(2007, 4, 15), '[)'), 25.0),
 (88826, DateRange(datetime.date(2007, 4, 15), datetime.date(2007, 4, 23), '[)'), 94.0),
 (89234, DateRange(datetime.date(2007, 4, 23), datetime.date(2007, 5, 1), '[)'), 146.0),
 (89642, DateRange(datetime.date(2007, 5, 1), datetime.date(2007, 5, 9), '[)'), 101.0),
 (90050, DateRange(datetime.date(2007, 5, 9), datetime.date(2007, 5, 17), '[)'), 213.0),
 (90458, DateRange(datetime.date(2007, 5, 17), datetime.date(2007, 5, 25), '[)'), 192.0),
 (90866, DateRange(datetime.date(2007, 5, 25), datetime.date(2007, 6, 2), '[)'), 194.0),
 (91274, DateRange(datetime.date(2007, 6, 2), datetime.date(2007, 6, 10), '[)'), 309.0),

**NEXT STEP**

Implement the query using a shapefile. That is the goal! This one here retrieves all the raster values withing a poligon in an array. From this we could to the stats externally, but we don't need it.

In [ ]:
%%time
%%sql SELECT gid, acquisition_range, (st_dumpvalues(ST_Clip(rast,geom, true))).valarray
    FROM
    modis10v04.gpp , public.shape10v04
    WHERE st_intersects(rast,geom)
        AND acquisition_range && '[2015-01-01,2016-12-31]'::daterange 
        AND gid = 1 
    ORDER BY acquisition_range;

#### AND I FINALLY got what I WANT

This query retrieves all the raster stats by polygon.

In [ ]:
%%time
%%sql SELECT id, acquisition_range, (st_SummaryStats(ST_Clip(rast,1,geom, true))).mean as media,
    (st_SummaryStats(ST_Clip(rast,1,geom, true))).sum as soma,
    (st_SummaryStats(ST_Clip(rast,1,geom, true))).count as pixels,
    (st_SummaryStats(ST_Clip(rast,1,geom, true))).stddev as desvio,
    power((st_SummaryStats(ST_Clip(rast,1,geom, true))).stddev,2) as variancia,
    (st_SummaryStats(ST_Clip(rast,1,geom, true))).max as maximo
FROM modis10v04.gpp , public.shape10v04
WHERE st_intersects(rast,geom)
    AND acquisition_range && '[2005-01-01,2016-12-31]'::daterange 
    AND id = 1 
ORDER BY acquisition_range;

To put the result in a pandas dataframe we have to use single-line %sql statement, which make thinks a bit ugly, but it works!

In [ ]:
result = %sql SELECT id, acquisition_range, (st_SummaryStats(ST_Clip(rast,1,geom, true))).mean as media FROM modis10v04.gpp , public.shape10v04 WHERE st_intersects(rast,geom) AND acquisition_range && '[2005-01-01,2016-12-31]'::daterange AND id =1 ORDER BY acquisition_range;

In [ ]:
result.DataFrame()

In [ ]:
result.csv(filename='work.csv')